@font-face {
    font-family: JuliusSansOne;
    src: url(https://fonts.googleapis.com/css2?family=Julius+Sans+One);
}

@font-face {
    font-family: Raleway;
    src: url(https://fonts.googleapis.com/css?family=Raleway);
}

html {
    margin: 0;
    padding: 0;
}

h3 {
    font-family: JuliusSansOne;
    color: white;
    text-align: left;
}

body {
    background-color: tan;
    margin: 30px;
}

p {
    font-family: Raleway;
    text-align: left;
    border: 2px solid black;
    padding: 30px;
    margin: 50px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: stick;
    top: 0;
}

/* class selectors */
.entry {
    text-align: left;
}

.nav {
    background-color: white;
    opacity: 0.3;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li{
    display: inline-block;
}

/* links */
li a {
    display: white;
    color: black;
    border: hidden;
    padding: 10px 15px;
    text-align: center;
}
li a:hover {
    background-color: brown;
    color: white;
}

