<p>i've been meaning to make a personal website, but i haven't out of laziness. the catalyst for this was 
    <a href="eggs/egg_0.html">spite</a>. which i guess is net good because there is less activation energy in adding to an 
    existing site than making a new one.
</p>
<p>this site is built with heavy help from ai. i'm not a web developer, and it can't hurt to learn a bit about web development, so 
    here i am :)
</p>
<p>you'll probably notice that there is a chicken theme going on. i don't have a favorite animal, and if i had to choose one, it'd 
    be a cat. since middle school, i've just tended to follow a chicken theme. :shrug:
</p> 
<p>you'll also probably notice that my name is not jenky. i go by jennifer and jenn, but i think both those names are too common. i am
    extremely quirky, different, cool, awesome, epic, rad, and tubular, so i put my gamer tag instead.
</p>
<p>also, i am a light mode lover, so this website will never get a dark mode. nobody has asked or will ask about this because 
    nobody cares that much about this website besides me, but i just wanted a reason to say that i love light mode.
</p>