<p>
    some brief context: my parents immigrated to the us from korea, and most of my extended family lives in korea.
    <a href="https://www.kakaocorp.com/page/service/service/KakaoTalk?lang=en">kakaotalk</a> is a very popular method
    of communication in korea. i use kakaotalk to talk to my extended family.
</p>
<p>
    recently, i had to log back into kakaotalk on my phone. i recalled that last summer, i had some issues with this 
    because elementary school me did not have much foresight. during the sign up process, i used my school email, which
    (surprise) gets disabled when you graduate from the public school system. so, last year, as somebody who had been
    three years removed from said public school system, my account could not be verified via school email. shocker. 
    well, it was shocking to me at the time. instead, i had to use my phone number to verify my account, which was funky,
    but i really can't remember why. i only really remember being really frustrated, reading a lot of reddit posts 
    (interestingly, a lot of people in the philipines who really wanted kakaotalk had a lot of issues, or maybe they were just
    the most vocal), and trying a variety of workarounds. when i finally logged in, i changed the account email to my permanent 
    one, assuming i wouldn't have to deal with this tomfoolery next time...
</p>
<p>oh boy.</p>

<h2>attempt 1</h2>
<p>
    i tried to log in using my phone number and password (which i apparently saved using icloud keychain). it did not work.
    i then tried to log in using my email and password. it still did not work. i then tried every possible password i could 
    have used. none of them worked. uh oh.
</p>

<h2>attempt 2</h2>
<p>
    maybe i just created a really safe password that was safe even from me. i tried resetting my password using my phone number,
    and i successfully resetted it! phew, my account does exist, and i should be able to log into it! back to the log in screen i 
    go... where the password i had just reset my account to does not work? huh?
</p>
<p>
    i tried resetting my password two more times. once again using my phone number, and the second time using my email (which 
    requires an additional verification step of using your phone number). all of these attempts did not work. at this point,
    i started freaking out a little bit.
</p>

<h2>attempt 3</h2>
<p>
    maybe i need to sign up for an account using this phone number? this wouldn't really make sense though, because, clearly, my
    account does exist. i apparently reset the password for it multiple times! well, i successfully made an account using my phone
    number. interestingly, it prevented me from adding my email because that email was in use. but, apparently, my phone number was
    not???
</p>
<p>
    okay. this was not a good solution because my relatives' contacts aren't saved in this new account, so i tried logging out.
    fun fact, the kakaotalk app has no log out button. i guess they just assume that you will only have one account that you want
    to use forever. i had to uninstall the app and reinstall it to log out.
</p>
<p>
    before continuing with this story, let's test your intuition! do you think that i will be able to log into the account that i 
    had just made?
</p>
<p>
    if you answered "no", you would be correct! i wasn't able to log into the account i literally had just made.
</p>
<p>
    now, i was back at the starting point. actually, i was arguably behind the starting point, because it's possible that i had 
    just overwritten my original account information with this new one. which would be pretty bad and the thought scared me. i 
    regretted trying the "new account" approach, because i really have no use for a new account. however, i was pretty confident
    that this hadn't happened because kakaotalk prevented me from setting my email. so, at the very least, my original account
    should exist, associated with my email.
</p>
<p>
    but, this didn't really solve my main issue of "i can't log into my kakaotalk account, despite being able to reset the 
    password". 
</p>

<h2>attempt 4</h2>
<p>
    the last time i was able to log into this account was in korea. so maybe, kakaotalk needs to think i am in korea.
</p>
<p>
    i downloaded a free vpn app off the app store. you probably shouldn't do this because privacy is pretty important, but i was 
    desperate (not desperate enough to shell out money lol). i did read through the privacy agreement to make sure there were 
    no immediate red flags, but this doesn't matter much because if they used some fancy lawyer lingo, i would have no idea.
</p>
<p> 
    anyways, i vpn'ed into a south korean server, and, BANNGGGG, we were so bingo bango bongo barack. i was able to log into 
    my account!
</p>
<p>
    this victory was short lived, however, when it asked me to verify my account via phone number.
</p>
<p>
    quick detour. 
</p>
<p>
    there are two different types of phone verification kakaotalk employs. the first one is the one that people
    are probably accustomed to, where the service texts you some code and you copy-paste that code into the service. this is the
    verification method they required when i was resetting my password. the second one requires you to confirm your number, 
    text a code to the service, and then the service verifies you once they receive the code from your number. this is the 
    verification method they required when i was logging in.
</p>
<p>
    okay. detour over.
</p>
<p>
    kakaotalk is nice enough to auto open your messages with a text to the service number with the code filled in for you. all you
    have to do is click send! so, click send i did. and then, i waited...
</p>
<p>
    and waited...
</p>
<p>
    and waited...
</p>
<p>
    my account would not get verified. i did some reddit searching, and some people reported that 
    <a href="https://www.reddit.com/r/KakaoTalk/comments/120xjpy/kakaotalk_verification_issue/">
        it verified them after several months</a>. 
</p>
<p>
    no. no way i am waiting several months. this process also triggered my memory, and i vaguely remembered doing this when i tried
    logging in last year. i did not have to wait several months then, so surely, i do not need to wait several months now.
</p>

<h2>attempt 5</h2>
<p>
    at this point, i just started throwing stuff at the wall and hoped something would stick.
</p>
<p>
    remember earlier when i said kakaotalk is nice enough to auto open your messages? yeah, i take it back. they added a 
    "[KakaoTalk]" prefix to the message that was autopopulated in the text, which, i assume, prevented the server from matching the 
    verification code to my phone number. once i removed that, my phone number was verified!
</p>
<p>
    in hindsight, it is kind of mean of me to assume that this failure is kakaotalk's fault. it's possible that when an external
    application opens the messaging app, the text is automatically prepended with the app's name. but, i would just like to say, 
    on every other app, when i press share using messages, i've never had this problem. and, i feel pretty slighted by kakaotalk,
    so i'll just blame them :P
</p>

<h2>conclusion</h2>
<p>
    finally, i was logged in! (after an hour)
</p>
<p>
    some final remarks in no particular order.
</p>
<p>
    (1) kakaotalk's log in process will be my mortal enemy.
</p>
<p>
    (2) i think it is pretty quirky of them to use two different verification methods. they should honestly just stick to the first
    one, because there's less potential for user error.
</p>
<p>
    (3) i'm not really sure how some users got verified after several months. maybe, on the side, they run some partial string 
    matching verification in case a user trying to log in fat fingered and added additional characters to the text. except, in this
    case, the app fat fingered and prepended additional characters to the text. kakaotalk is a good kid at heart. they mean so well.
</p>
<p>
    (4) there should be some method of recovery if you don't have your phone number. currently, kakaotalk requires you to verify
    your account via phone number even if you log in using your email. if you lose your phone or lose your phone number, you just
    lose your account. that sucks. (i could also be wrong about this but i don't feel like fact checking)
</p>
<p>
    (5) why did i have to be "in korea" to log into my account?
</p>
<p>
    (5.5) they should actually fix the location thing because i'm pretty sure that's how i was able to make a new account with my
    phone number. there are actually no upsides to this because i couldn't even log into that new account after.
</p>
<p>
    (6) i hope the log in process is either fixed or stays the same. if they change it and it is still broken, i will have to go 
    through agony again and potentially lose my account. if it stays like this, at least i know what to do to log back in.
</p>
<p>
    (7) this spite inspired me to write this post and make this website. so maybe kakaotalk did me a favor in the end.
</p>
<figure>
    <img src="assets/images/eggs/egg_0_kakaotalk.jpeg" alt="KakaoTalk image" class="about-image" style="max-width: 40%; display: block;">
    <figcaption>my spiteful texts</figcaption>
</figure>
<p>
    thanks for reading! my hope with this post is that it will help at least one person log into their kakaotalk account. (with
    my luck it will probably be me next year when it makes me log back in)
</p>