<p> <em>
    I want to create. I want to create. I want to create.
</em> </p>

<p>
    It's the middle of winter, but there must be hundreds of cicadas in my room. They chirp as I toss the novel 
    onto the coffee table. They chirp as I open to the third page of my notebook and uncap my pen. They chirp as 
    I frantically jot my vision, because it's rare for me to be this inspired and like any passionate fervor, it 
    will evaporate, but before then, I want proof that I had thought of something that could be as beautiful as 
    the art I had just consumed, because I too am human with human experiences who could also touch the hearts of 
    strangers if only this pen could magically package my reflections and reactions into prose and paintings...
</p>

<p><em>
    It's quiet.
</em></p>